<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('blocks/head') -%>
</head>

<body>
    <%- include('blocks/header') -%>
        <form action="<%= isNew ? '/employee' : '/employee/' + employee.id %>" method="post">

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Имя:</span>
                <input type="text" class="form-control" id="first_name" name="first_name" placeholder="" aria-label=""
                    value="<%= employee.first_name %>" /><br>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Фамилия:</span>
                <input type="text" class="form-control" id="last_name" name="last_name" placeholder="" aria-label=""
                    value="<%= employee.last_name %>" /><br>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Email:</span>
                <input type="text" class="form-control" id="email" name="email" placeholder="" aria-label=""
                    value="<%= employee.email %>" /><br>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Гендер:</span>
                <select name="gender" id="gender" class="form-select" aria-label="Default select example">
                    <option value="Female" <%=(employee.gender=='Female' ? 'selected' : '' ) %> >Женский</option>
                    <option value="Male" <%=(employee.gender=='Male' ? 'selected' : '' ) %> >Мужской</option>
                </select>
            </div>
            <br>
            <span>дата рождения: </span><input type="date" id="date_of_birth_str" name="date_of_birth_str"
                value="<%= employee.date_of_birth_str %>" />
            <br>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Страна рождения:</span>

                <select class="form-select" aria-label="Default select example" id="name_of_country"
                    name="name_of_country">
                    <% for (let reg of regions) { %>
                        <option <%= reg.id === employee.region_id ? 'selected' : '' %> value="<%= reg.id %>"><%=
                                    reg.name_of_country %>
                        </option>

                        <% } %>
                </select>
            </div>

            <% for (let emrl of employee_role) { %>
                <button type="click" class="btn btn-primary">
                    <%= emrl.name %>
                </button>
                <% } %>
                    <br>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
</body>

</html>