<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('blocks/head') -%>
    <script>
        async function remove_employee(id) {
            let isOK = confirm("вы действительно хотите удалить сотрудника?");
            if (isOK) {
                let response = await fetch(`/employee/remove/${id}`, {
                    method: 'delete',
                });
                location.reload()
            }
        }
    </script>
</head>

<body>
    <%- include('blocks/header') -%>
        <a class="btn btn-outline-primary" href="/employee_add" role="button">Создать</a>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Email</th>
                <th scope="col">Гендер</th>
                <th scope="col">Дата рождения</th>
                <th scope="col">Страна</th>
                <th scope="col">Роли</th>
                <th scope="col">дествие</th>
              </tr>
            </thead>
            <tbody>

                <% for (let employee of employees) { %>
                    <tr>
                        <td>
                            <a class="btn btn-warning" href="/employee/<%= employee.id %>" role="button">
                                <%= employee.id %>
                            </a>

                            <!-- <a href="/employee/<%= employee.id %>">
                                <%= employee.id %>
                            </a> -->
                        </td>
                        <td>
                                <%= employee.first_name %>
                            </a>
                        </td>
                        <td>
                            <%= employee.last_name %>
                        </td>
                        <td>
                            <%= employee.email %>
                        </td>
                        <td>
                            <%= employee.gender %>
                        </td>
                        <td>
                            <%= employee.date_of_birth_str %>
                        </td>
                        <td>
                            <%= employee.country_of_birth %>
                        </td>
                        <td>
                            <%= employee.roles %>
                        </td>
                        <td>
                            
                            <button onclick="remove_employee('<%= employee.id %>')" class="btn btn-outline-danger">Удалить</button>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
</body>

</html>